.main {
    height: 100vh;
    background-color: #81C784;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #4CAF50;
}

#busq {
    width: 400px;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 500px;
    margin-left: 30px;
}

#descFaceUno {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descPunto {
    margin: 20px 20px 0 0;
    /* width: 300px; */
    height: 500px;
    background-color: #97e6a0;
}

#map {
    height: 500px;
    /* width: 65vw; */
    border: 2px solid #323732;
    border-radius: 8px;
    margin-right: 20px;
    margin-top: 20px;
}